<nav class="navbar navbar-expand-md w-100 navbar-nav sticky-top">
  <div class="container-fluid">
    <div class="position-absolute top-0 start-0">
      <div class="d-flex align-items-center ">
        <ul class="navbar-nav mt-2 mb-2 mb-lg-0">
          <li class="nav-item mb-1">
            <a class="nav-link" href="">
              <img src="assets/icons/phone.svg" alt="telefono" class="me-2"/>
              <span class="d-none d-lg-inline d-md-inline d-sm-inline">(+51) 999-999-999</span>
            </a>
          </li>
          <li class="nav-item mb-1">
            <a class="nav-link" href="mailto:contacto@esfera.com" id="tienda-email">
                <img src="assets/icons/email.svg" alt="email" class="me-2"/>
                <span class="d-none d-lg-inline d-md-inline d-sm-inline">contacto&#64;esfera.com</span>
              </a>
          </li>
        </ul>
      </div>
    </div>

      <div class="navbar-brand mx-auto">
        <img src="../../../assets/logo_esfera-circle_removebg.png" alt="Esfera by Antonella" width="100" height="100">
      </div>

      <div class="position-absolute top-0 end-0">
      <div class="d-flex justify-content-end">
        <ul class="navbar-nav mt-2 mb-2 mb-lg-0">
          <li class="nav-link text-center " href="#">
            <img src="assets/icons/register.svg" class="me-2"/>
                <span class="d-none d-lg-inline d-md-inline d-sm-inline">Login</span>
          </li>
          <li class="nav-link text-center" href="#">
            <img src="assets/icons/cart.svg" class="me-2"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-body-tertiary justify-content-between">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mb-1"></span>
  </button>
  <span class="half-span d-none d-lg-block"></span>
  <div class="collapse navbar-collapse bg-body-tertiary justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-link text-center navLink ms-4" href="">Conócenos</li>
      <li class="nav-item dropdown ms-4">
        <div class="nav-link dropdown-toggle navLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Mujer
        </div>
        <ul class="dropdown-menu dropdown-menu-start">
          <li role="menuitem" class="mb-2">
            <div class="dropdown-item">
              <span>Collares</span>
            </div>
          </li>
          <li role="menuitem" class="mb-2">
            <div class="dropdown-item">
              <span>Aretes</span>
            </div>
          </li>
          <li role="menuitem" class="mb-2">
            <div class="dropdown-item">
              <span>Pulseras</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown ms-4">
        <div class="nav-link dropdown-toggle navLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Kids
        </div>
        <ul class="dropdown-menu dropdown-menu-start">
          <li role="menuitem" class="mb-2">
            <div class="dropdown-item">
              <span>Collares</span>
            </div>
          </li>
          <li role="menuitem" class="mb-2">
            <div class="dropdown-item">
              <span>Aretes</span>
            </div>
          </li>
          <li role="menuitem" class="mb-2">
            <div class="dropdown-item">
              <span>Pulseras</span>
            </div>
          </li>
        </ul>
        </li>
        <li class="nav-item dropdown ms-4">
          <div class="nav-link dropdown-toggle navLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hombre
          </div>
          <ul class="dropdown-menu dropdown-menu-start">
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
                <span>Cadenas</span>
              </div>
            </li>
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
                <span>Pulseras</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown ms-4">
          <div class="nav-link dropdown-toggle navLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Coleccciones
          </div>
          <ul class="dropdown-menu dropdown-menu-start">
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
                <span>Bañado en oro 18k</span>
              </div>
            </li>
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
               <span>Plata</span>
              </div>
            </li>
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
               <span>Acero quirúrgico</span>
              </div>
            </li>
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
                 <span>Cobre enchapado en oro</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown ms-4">
          <div class="nav-link dropdown-toggle navLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Otros
          </div>
          <ul class="dropdown-menu dropdown-menu-start">
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
                <span>Regalos</span>
              </div>
            </li>
            <li role="menuitem" class="mb-2">
              <div class="dropdown-item">
                <span>Blog - Tips</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <shared-search></shared-search>
  </div>
  </nav>
