
  <form class="d-flex search-field bg-body-tertiary justify-content-center" role="search">
    <div class="input-group">
      <input class="form-control search_input rounded bg-transparent" id="searchQuery" [value]="searchQuery" #search type="text"
       placeholder="Buscar" aria-label="search"
       />
       <div class="input-group-append d-flex align-items-center ">
        <span class="input-group-text bg-transparent d-none d-lg-inline d-md-inline d-sm-inline">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </form>

