
    <hr class="hr">
    <div class="filtro categorias">
        <div class="accordion" id="accordionCategories">
          <div class="accordion-item accordionBorder">
                  <h3 class="accordion-header" id="headingCategory">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
                      CATEGORÍAS
                    </button>
                  </h3>
                  <hr class="hr">
              <div class="accordion-collapse collapse show" id="collapseCategory" aria-labelledby="headingCategory" data-bs-parent="#accordionCategories">
                <div class="accordion-body">
                  <div class="form-check dropdown-categoria-list">
                    <input class="form-check-input checkcategory" type="checkbox" value="mujer" id="categorieMujer">
                    <label class="form-check-label" for="categorieMujer">
                      Mujer
                    </label>
                    <div class="form-check dropdown-categoria-items ">
                        <input class="form-check-input checkcategory checkcategory-hover" type="checkbox" value="" id="categorieMujerColl">
                        <label class="form-check-label" for="categorieMujerColl">
                          Collares
                        </label>
                    </div>
                    <div class="form-check dropdown-categoria-items ">
                        <input class="form-check-input checkcategory checkcategory-hover" type="checkbox" value="" id="categorieMujerAret">
                        <label class="form-check-label" for="categorieMujerAret">
                          Aretes
                        </label>
                      </div>
                      <div class="form-check dropdown-categoria-items ">
                        <input class="form-check-input checkcategory checkcategory-hover" type="checkbox" value="" id="categorieMujerPuls">
                        <label class="form-check-label" for="categorieMujerPuls">
                          Pulseras
                        </label>
                      </div>
                    </div>
                    <div class="form-check dropdown-categoria-list">
                        <input class="form-check-input" type="checkbox" value="mujer" id="categorieKids">
                        <label class="form-check-label" for="categorieKids">
                          Kids
                        </label>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieKidsColl">
                          <label class="form-check-label" for="categorieKidsColl">
                            Collares
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieKidsAret">
                          <label class="form-check-label" for="categorieKidsAret">
                            Aretes
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieKidsPuls">
                          <label class="form-check-label" for="categorieKidsPuls">
                            Pulseras
                          </label>
                        </div>
                      </div>
                      <div class="form-check dropdown-categoria-list">
                        <input class="form-check-input" type="checkbox" value="" id="categorieHombre">
                        <label class="form-check-label" for="categorieHombre">
                          Hombre
                        </label>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieHombreCaden">
                          <label class="form-check-label" for="categorieHombreCaden">
                            Cadenas
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieHombrePuls">
                          <label class="form-check-label" for="categorieHombrePuls">
                            Pulseras
                          </label>
                        </div>
                      </div>
                        <div class="form-check dropdown-categoria-list">
                        <input class="form-check-input" type="checkbox" value="" id="categorieColecciones">
                        <label class="form-check-label" for="categorieColecciones">
                          Colecciones
                        </label>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieColeccionesOro">
                          <label class="form-check-label" for="categorieColeccionesOro">
                            Bañado en oro 18k
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieColeccionesPlata">
                          <label class="form-check-label" for="categorieColeccionesPlata">
                            Plata
                          </label>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="categorieColeccionesAcero">
                            <label class="form-check-label" for="categorieColeccionesAcero">
                              Acero quirúrgico
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="categorieColeccionesCobre">
                            <label class="form-check-label" for="categorieColeccionesCobre">
                              Cobre enchapado en oro
                            </label>
                          </div>
                        </div>
                      </div>
                        <div class="form-check dropdown-categoria-list">
                        <input class="form-check-input" type="checkbox" value="" id="categorieOtros">
                        <label class="form-check-label" for="categorieOtros">
                          Otros
                        </label>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="categorieOtrosRegal">
                          <label class="form-check-label" for="categorieOtrosRegal">
                            Regalos
                          </label>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
       </div>
      </div>






          <!-- <div class="filtro mb-4 mb-md-0 d-md-none" id="ordenar">
           <h5 class="text-uppercase"><strong>Ordenar</strong></h5>
           <ul class="">
            <li>
              <a class="optionorden" type="button" data-value="date,desc">Más nuevo</a>
            </li>
            <li>
              <a class="optionorden" type="button" data-value="price,asc">Menor precio</a>
            </li>
            <li>
              <a class="optionorden" type="button" data-value="price,desc">Mayor nuevo</a>
            </li>
            <li>
              <a class="optionorden" type="button" data-value="az,asc">Alfabético A-Z</a>
            </li>
            <li>
              <a class="optionorden" type="button" data-value="az,desc">Alfabético Z-A</a>
            </li>
           </ul>
          </div> -->



