.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.carousel-inner {
  position: relative;
  display: grid;
  grid-template-areas: "carousel";
  height: 55vh;
}

.picsum-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 55vh;

}

@media (min-width: 1100px) {
  .picsum-img-wrapper {
    height: 65vh;
  }
  .carousel-inner {
    height: 65vh;
  }
}


:host ::ng-deep ngb-carousel .carousel-indicators button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--my-border-navbar);
  margin: 0 5px;
  position: relative;
 }

:host ::ng-deep ngb-carousel .carousel-indicators button.active {
  width: 50px;
  height: 10px;
  background-color: var(--my-border-navbar);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  }
:host ::ng-deep ngb-carousel .carousel-indicators {
   margin-bottom: -40px;
}

@media (max-width: 620) {
  :host ::ng-deep ngb-carousel .carousel-indicators {
   margin-bottom: 200px;
  }
}

:host ::ng-deep ngb-carousel .carousel-indicators button.active::before,
:host ::ng-deep ngb-carousel .carousel-indicators button.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--my-primary-lite1);
  animation: progressBar 3s linear forwards;
  border-radius: 15px;
}

@keyframes progressBar {
  100% {
    width: 100%;
  }
}


